@using PROMPERU.PeruInfo.Domain.Entities
@using System.Configuration
@model dynamic

@{
    CategoriaBE categoria = Model.Categoria;
    List<SubcategoriaBE> subcategorias = Model.Subcategorias;
    List<GaleriaBE> galeria = Model.Galeria;
    List<BannerBE> banners = Model.Banners;

    ViewBag.Title = categoria.Nombre;
    string culture = ViewBag.Culture;
    int idioma = culture == "es-pe" ? 1 : 2;
    Layout = null;

    string strPathAndQuery = HttpContext.Current.Request.Url.PathAndQuery;
    string strUrl = ConfigurationManager.AppSettings.Get("DominioAbsoluto");
    string absoluteUrl = $"{strUrl}{strPathAndQuery}";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@strUrl/css/peru-info.components.css">
    <link rel="stylesheet" href="@strUrl/css/plantilla-categoria.css">
    <link rel="stylesheet" href="@strUrl/css/aos.css">

    <title>@categoria.TituloSeo</title>

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-image-preview:large">
    <base href="@strUrl">
    <link rel="shortcut icon" href="@strUrl/img/favicon_PeruInfo.ico" />
    <link rel="canonical" href="@absoluteUrl">
    <meta name="description" content="@categoria.DescripcionSeo" />
    <meta name="author" content="Peru.info">
    <meta name="distribution" content="global" />
    <meta name="keywords" content="@categoria.Keywords" />
    <meta property="og:locale" content="@culture" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@categoria.TituloSeo" />
    <meta property="og:description" content="@categoria.DescripcionSeo" />
    <meta property="og:url" content="@absoluteUrl" />
    <meta property="og:site_name" content="Perú Info" />
    <meta property="og:image" content="@Html.Raw($"{strUrl}/img/share-peruinfo.jpg")">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@categoria.DescripcionSeo" />
    <meta name="twitter:title" content="@categoria.TituloSeo" />
    <meta name="twitter:site" content="https://twitter.com/marcaPERU" />
    <meta name="twitter:image" content="@Html.Raw($"{strUrl}/img/share-peruinfo.jpg")" />
    @if (idioma == 1)
    {

        <!-- Google tag (gtag.js) migra2023 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GB6PS60QLG"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-GB6PS60QLG');
        </script>
    }
    else
    {

        <!-- Google tag (gtag.js) migra2023 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5R15JNKSP"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-E5R15JNKSP');
        </script>
    }
    <!-- Google Tag Manager -->

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MDQMLXQ');</script>
    <!-- End Google Tag Manager -->
    <!-- Código de seguimiento de Hotjar de -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 4938555, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    @Html.Partial("~/Views/Shared/Partials/_WidgetsLayout.cshtml")

</head>

<body class="categoria-@categoria.Color">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDQMLXQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-------------------- BLOCK HEADER ----------------------->
    <header class="header-peru-info">
        <div class="contenedor-header-peru-info">
            <div class="contenedor-logo-peru">
                <a href="/">
                    <img src="@strUrl/img/home/header/logo-peru.png" alt="@(idioma == 1 ? "Logo Marca Perú en gris" : "Peru Brand Logo in gray")">
                    <img src="@strUrl/img/home/header/logo-peru-gris.svg" alt="@(idioma == 1 ? "Logo Marca Perú en gris" : "Peru Brand Logo in gray")">
                </a>
            </div>

            @{
                Html.RenderAction("HeaderMenu", "Home");
            }

        </div>

        @{
            Html.RenderAction("PageMenu", "Home");
        }
    </header>
    <!-------------------- /BLOCK HEADER ----------------------->
    <!-------------------- BLOCK MODALES-HEADER ----------------------->
    @Html.Partial("Partials/_ModalsHeader")

    <!-------------------- /BLOCK MODALES-HEADER ----------------------->
    <!-------------------- BLOCK BANNER-CATEGORIA ----------------------->
    <section class="contenedor-banner-categoria">
        <div class="content-banner-categoria">

            <div class="box-banner-logo">
                @if (!string.IsNullOrEmpty(categoria.ImagenDesktop))
                {
                    <img src="@strUrl/archivos/categoria/@categoria.ImagenDesktop" alt="@categoria.ImagenTextoAlternativo">
                }
                @if (!string.IsNullOrEmpty(categoria.ImagenMovil))
                {
                    <img src="@strUrl/archivos/categoria/@categoria.ImagenMovil" alt="@categoria.ImagenTextoAlternativo">
                }

            </div>
            <div class="box-banner-txt">
                <div class="content-box-txt">
                    <h1 data-aos="fade-down" ata-aos-duration="1500">
                        @categoria.Titulo
                    </h1>
                    <p data-aos="fade-up" ata-aos-duration="1500">
                        @categoria.Subtitulo
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-------------------- /BLOCK BANNER-CATEGORIA ----------------------->
    <!-------------------- BLOCK LOGOS-INSTITUCIONES ----------------------->
    @if (!string.IsNullOrEmpty(categoria.BloqueHtml))
    {
        @Html.Raw(categoria.BloqueHtml)
    }
    <!-------------------- /BLOCK LOGOS-INSTITUCIONES ----------------------->

    <main>

        <!-------------------- BLOCK PRINCIPAL-INFO ----------------------->
        <section class="contenedor-principal-info">
            <div class="content-principal-info blockv3-container">

                <div class="content-ajustar-ancho">

                    <blockquote>
                        @categoria.Descripcion
                    </blockquote>

                    <div class="contenedor-items-info">
                        @foreach (SubcategoriaBE item in subcategorias.Where(x => !string.IsNullOrEmpty(x.TituloBloqueCategoria)).ToList())
                        {
                            GaleriaBE imagen = galeria.FirstOrDefault(x => x.EntidadId == item.Id && x.Uso == "bloque");

                            <div class="box-item-info" data-aos="fade-right" ata-aos-duration="1500">
                                <div class="item-info-logo">
                                    @if (imagen != null)
                                    {
                                        <img src="@strUrl/archivos/subcategoria/@imagen.RutaDekstop" alt="@imagen.TextoAlternativo">
                                    }
                                </div>
                                <div class="item-info-txt">
                                    <div class="content-item-txt">
                                        <h3>@item.TituloBloqueCategoria</h3>
                                        <p>
                                            @Html.Raw(item.DescripcionBloqueCategoria)
                                        </p>
                                        <a href="@Html.Raw(!string.IsNullOrEmpty(@item.LinkExterno) ? item.LinkExterno : $"/{culture}/{categoria.Slug}/{item.Slug}")" class="item-info-link">
                                            <div class="icon-arrow">
                                                <img src="@strUrl/img/plantilla-categoria/principal-info/arrow-diagonal.png" alt="@item.TituloBloqueCategoria">
                                            </div>
                                            <span>@item.NombreBotonBloqueCategoria</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-------------------- /BLOCK PRINCIPAL-INFO ----------------------->
        <!-------------------- BLOCK SLIDER-CATEGORIA ----------------------->
        @if (banners.Any(x => x.Activo == true))
        {
            <section class="contenedor-categoria">
                <div class="content-categoria">

                    <div class="content-slider-categoria">

                        @foreach (BannerBE item in banners)
                        {
                            <div class="contenedor-slider-item-card">
                                <div class="box-slider-logo">
                                    <a href="@Html.Raw(!string.IsNullOrEmpty(item.Link) ? item.Link : "javascript:void(0)")" @Html.Raw(item.VentanaNueva == true ? "target='_blank'" : "")>
                                        <img src="@strUrl/archivos/banner/@item.ImagenDesktop" alt="@item.ImagenTextoAlternativo">
                                        <img src="@strUrl/archivos/banner/@item.ImagenMovil" alt="@item.ImagenTextoAlternativo">
                                    </a>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </section>
        }

        <!-------------------- /BLOCK SLIDER-CATEGORIA ----------------------->
        <!-------------------- BLOCK ICONS-DECORATOR ----------------------->
        <section class="contenedor-icons-decorator">
            <div class="icons-decorator blockv3-container">
                <div class="box-icons icons-21">
                    <img src="@strUrl/img/home/icons/iconos-1024.png" style="width:100% !important" alt="">                
    @*<img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-6.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-7.png" alt="">

                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-8.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">

                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-6.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-7.png" alt="">

                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-8.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">*@
                </div>

                <div class="box-icons icons-10">
                    
                    <img src="@strUrl/img/home/icons/iconos-768.png" style="width:100%" alt="">

    @*<img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-6.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-7.png" alt="">

                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-8.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">*@
                </div>
            </div>
        </section>
        <!-------------------- /BLOCK ICONS-DECORATOR ----------------------->
        <!-------------------- BLOCK SLIDER-NOTICIAS ----------------------->
        @{
            Html.RenderAction("PublicacionesInterna", "Home", new { tipo = 2, categoria = categoria.Nombre });
        }
        <!-------------------- /BLOCK SLIDER-NOTICIAS ----------------------->

    </main>

    <!-------------------- BLOCK FOOTER ----------------------->
    @{
        Html.RenderAction("PageMenu", "Home", new { footer = true });
    }
    <!-------------------- /BLOCK FOOTER ----------------------->
    <script>
        let baseDomain = '@strUrl';
    </script>
    <script src="@strUrl/js/jquery.min.js"></script>
    <script src="@strUrl/js/aos.js"></script>
    <script src="@strUrl/js/slick.min.js"></script>
    <script src="@strUrl/js/peru-info.components.js"></script>
    <script src="@strUrl/js/plantilla-categoria.js"></script>
    <script>
    let culture = "@culture";
    let idioma = @idioma;
    </script>
    <script src="@strUrl/js/search.js"></script>
</body>
</html>