@using PROMPERU.PeruInfo.Domain.Entities
@using System.Configuration
@model List<ComunicadoBE>

@{
    Layout = null;

    string culture = ViewBag.Culture;
    int idioma = culture == "es-pe" ? 1 : 2;

    string strPathAndQuery = HttpContext.Current.Request.Url.PathAndQuery;
    string strUrl = ConfigurationManager.AppSettings.Get("DominioAbsoluto");
    string absoluteUrl = $"{strUrl}{strPathAndQuery}";


    List<PaginaBE> paginas = ViewBag.Paginas;

    var descripcionSeo = "";
    var tituloSeo = "";
    var canonicalSeo = "";

    descripcionSeo = Resource.seo_descripcion_home;
    tituloSeo = Resource.seo_titulo_home;
    canonicalSeo = absoluteUrl;

    foreach (var pagina in paginas)
    {
        descripcionSeo = pagina.DescripcionSeo;
        tituloSeo = pagina.TituloSeo;
        canonicalSeo = pagina.CanonicalSeo;
    }


}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@strUrl/css/peru-info.components.css">
    <link rel="stylesheet" href="@strUrl/css/06.covid.css">

    <title>@tituloSeo</title>

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-image-preview:large">
    <base href="@strUrl">
    <link rel="shortcut icon" href="@strUrl/img/favicon_PeruInfo.ico" />
    <link rel="canonical" href="@canonicalSeo">
    <meta name="description" content="@descripcionSeo" />
    <meta name="author" content="Peru.info">
    <meta name="distribution" content="global" />
    <meta name="keywords" content="@Resource.seo_keywords_comunicado" />
    <meta property="og:locale" content="@culture" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@tituloSeo" />
    <meta property="og:description" content="@descripcionSeo" />
    <meta property="og:url" content="@absoluteUrl" />
    <meta property="og:site_name" content="Perú Info" />
    <meta property="og:image" content="@Html.Raw($"{strUrl}/img/share-peruinfo.jpg")">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@descripcionSeo" />
    <meta name="twitter:title" content="@tituloSeo" />
    <meta name="twitter:site" content="https://twitter.com/marcaPERU" />
    <meta name="twitter:image" content="@Html.Raw($"{strUrl}/img/share-peruinfo.jpg")" />

    <style>
        footer > div.contenedor-footer-peru-info {
            border-top: 0 transparent !important;
        }
    </style>

    @if (idioma == 1)
    {

        <!-- Google tag (gtag.js) migra2023 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GB6PS60QLG"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-GB6PS60QLG');
        </script>
    }
    else
    {

        <!-- Google tag (gtag.js) migra2023 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5R15JNKSP"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-E5R15JNKSP');
        </script>
    }
    <!-- Google Tag Manager -->

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MDQMLXQ');</script>
    <!-- End Google Tag Manager -->
    <!-- Código de seguimiento de Hotjar de -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 4938555, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    @Html.Partial("~/Views/Shared/Partials/_WidgetsLayout.cshtml")

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDQMLXQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-------------------- BLOCK HEADER ----------------------->
    <header class="header-peru-info">
        <div class="contenedor-header-peru-info">
            <div class="contenedor-logo-peru">
                <a href="/">
                    <img src="@strUrl/img/home/header/logo-peru.png" alt="@(idioma == 1 ? "Logo Marca Perú en gris" : "Peru Brand Logo in gray")">
                    <img src="@strUrl/img/home/header/logo-peru-gris.svg" alt="@(idioma == 1 ? "Logo Marca Perú en gris" : "Peru Brand Logo in gray")">
                </a>
            </div>

            @{
                Html.RenderAction("HeaderMenu", "Home");
            }

        </div>

        @{
            Html.RenderAction("PageMenu", "Home");
        }
    </header>
    <!-------------------- /BLOCK HEADER ----------------------->
    <!-------------------- BLOCK MODALES-HEADER ----------------------->
    @Html.Partial("Partials/_ModalsHeader")
    <!-------------------- /BLOCK MODALES-HEADER ----------------------->
    <!-------------------- BLOCK BANNER ----------------------->
    <section class="banner-home">
        <div class="contenedor-banner-home">

            <div class="contenedor-title-info blockv3-container">
                <div class="content-categoria">
                    <div class="caja-azul"></div>
                    <h3>Recursos</h3>
                </div>
                <div class="content-title">
                    <h2>Covid-19: Reportes para el sector turismo</h2>
                </div>
                <hr>
                <div class="txt-info">
                    <p>
                        Encuentra consejos para los empresarios, tendencias del sector y estrategias comerciales relacionadas a la coyuntura actual del Perú y el mundo.
                    </p>
                </div>
            </div>

            <div class="scroll-boton">
                <div class="scroll-cont">
                    <div class="scroll-circ"></div>
                </div>
            </div>

        </div>

    </section>
    <!-------------------- /BLOCK BANNER ----------------------->

    <main>
        <!-------------------- BLOCK COMUNICADOS ----------------------->
        <section class="comunicados-covid">
            <div class="contenedor-comunicados-covid blockv3-container">

                <div class="content-title-comunicados">
                    <h3>Comunicados</h3>
                </div>

                <div class="contenedor-info-comunicados">
                    @foreach (ComunicadoBE comunicado in Model)
                    {
                        <div class="content-informacion-comunicado">
                            <div class="informacion-comunicado">
                                <span>@DateTime.Parse(comunicado.FechaPublicacion.ToString()).ToString("dd MMMM yyyy")</span>
                                <h3>@comunicado.Titulo</h3>
                                <p>@Html.Raw(comunicado.Descripcion)</p>
                            </div>
                            <div class="content-descargar">
                                <a href="@comunicado.ArchivoDescarga" download>
                                    <img src="@strUrl/img/06.covid/icon-descargar.png" alt="">
                                </a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </section>
        <!-------------------- /BLOCK COMUNICADOS ----------------------->
        <!-------------------- BLOCK REDES-SOCIALES-DESKTOP ----------------------->
        @{
            Html.RenderPartial("Partials/_RedesSociales");
        }
        <!-------------------- /BLOCK REDES-SOCIALES-DESKTOP ----------------------->
    </main>


    <!-------------------- BLOCK FOOTER ----------------------->
    @{
        Html.RenderAction("PageMenu", "Home", new { footer = true });
    }
    <!-------------------- /BLOCK FOOTER ----------------------->
    <script>
        let baseDomain = '@strUrl';
    </script>
    <script src="@strUrl/js/jquery.min.js"></script>
    <script src="@strUrl/js/slick.min.js"></script>
    <script src="@strUrl/js/peru-info.components.js"></script>
    <script src="@strUrl/js/06.covid.js"></script>
    <script>
    let culture = "@culture";
    let idioma = @idioma;
    </script>
    <script src="@strUrl/js/search.js"></script>
</body>
</html>