@using System.Configuration
@using PROMPERU.PeruInfo.Domain.Entities
@model PublicacionBE

@{
    string culture = ViewBag.Culture;
    int idioma = culture == "es-pe" ? 1 : 2;

    Layout = null;

    string strPathAndQuery = HttpContext.Current.Request.Url.PathAndQuery;
    string strUrl = ConfigurationManager.AppSettings.Get("DominioAbsoluto");
    string absoluteUrl = $"{strUrl}{strPathAndQuery}".ToLower();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@strUrl/css/peru-info.components.css">
    <link rel="stylesheet" href="@strUrl/css/plantilla-notas-noticias.css">
    <title>@Model.TituloSeo</title>

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-image-preview:large">
    <base href="@strUrl">
    <link rel="shortcut icon" href="@strUrl/img/favicon_PeruInfo.ico" />
    <link rel="canonical" href="@absoluteUrl">
    <meta name="description" content="@Model.DescripcionSeo" />
    <meta name="author" content="Peru.info">
    <meta name="distribution" content="global" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta property="og:locale" content="@culture" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.TituloSeo" />
    <meta property="og:description" content="@Model.DescripcionSeo" />
    <meta property="og:url" content="@absoluteUrl" />
    <meta property="og:site_name" content="Perú Info" />
    <meta property="og:image" content="@Html.Raw($"{strUrl}/archivos/publicacion/{Model.Imagen3}")">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@Model.DescripcionSeo" />
    <meta name="twitter:title" content="@Model.TituloSeo" />
    <meta name="twitter:site" content="https://twitter.com/marcaPERU" />
    <meta name="twitter:image" content="@Html.Raw($"{strUrl}/archivos/publicacion/{Model.Imagen3}")" />
    @if (idioma == 1)
    {

        <!-- Google tag (gtag.js) migra2023 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GB6PS60QLG"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-GB6PS60QLG');
        </script>
    }
    else
    {

        <!-- Google tag (gtag.js) migra2023 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5R15JNKSP"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-E5R15JNKSP');
        </script>
    }
    <!-- Google Tag Manager -->

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MDQMLXQ');</script>
    <!-- End Google Tag Manager -->
    <!-- Código de seguimiento de Hotjar de -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 4938555, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    @Html.Partial("~/Views/Shared/Partials/_WidgetsLayout.cshtml")

</head>

<body class="categoria-@Model.CategoriaColor">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDQMLXQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-------------------- BLOCK HEADER ----------------------->
    <!-- <header class="header-peru-info active-scroll-header"> -->
    <header class="header-peru-info">
        <div class="contenedor-header-peru-info">
            <div class="contenedor-logo-peru">
                <a href="/">
                    <!-- <img src="@strUrl/img/home/header/logo-peru.png" alt=""> -->
                    <img src="@strUrl/img/home/header/logo-peru-gris.svg" alt="@(idioma == 1 ? "Logo Marca Perú en gris" : "Peru Brand Logo in gray")">
                </a>
            </div>

            @{ Html.RenderAction("HeaderMenu", "Home"); }

        </div>

        <!-- <div class="menu-lateral mostrar-menu-lateral"> -->
        @{ Html.RenderAction("PageMenu", "Home"); }
    </header>
    <!-------------------- /BLOCK HEADER ----------------------->
    <!-------------------- BLOCK MODALES-HEADER ----------------------->
    @Html.Partial("Partials/_ModalsHeader")
    <!-------------------- /BLOCK MODALES-HEADER ----------------------->


    <main>
        <!-------------------- BLOCK PAGINADO ----------------------->
        <section class="contenedor-notas-paginado">
            <div class="content-notas-paginado blockv3-container">

                <div class="contenedor-paginado">
                    <div class="box-btn-paginado">
                        <a href="/@culture/@Model.CategoriaSlug">@Model.CategoriaNombre</a>
                    </div>
                    <span>
                        <img src="@strUrl/img/plantilla-embajadores/icon-arrow.png" alt="">
                    </span>
                    <div class="box-subcategoria-paginado">
                        <a href="/@culture/@Model.CategoriaSlug/@Model.SubcategoriaSlug">@Model.SubcategoriaNombre</a>
                    </div>
                </div>

            </div>
        </section>
        <!-------------------- /BLOCK PAGINADO ----------------------->
        <!-------------------- BLOCK HEADER-NOTAS ----------------------->
        <section class="contenedor-header-notas-noticias">
            <div class="content-header-notas-noticias blockv3-container">
                <div class="box-header-title">
                    <h1>@Model.Titulo</h1>
                    <a href="https://news.google.com/publications/CAAqBwgKMOe3rwsw9MLHAw" class="box-gnews">
                        <span>Síguenos en:</span>
                        <h5>Google News</h5>
                    </a>
                </div>
                @if (!string.IsNullOrEmpty(Model.Imagen3))
                {
                    <div class="box-header-banner">
                        <div class="logo-date-header">
                            <img src="@strUrl/archivos/publicacion/@Model.Imagen3" alt="@Model.AltImagen">
                            <span>@Model.FechaPublicacion.ToString("dd/MM/yyyy")</span>
                        </div>
                        <p>Fuente: @Model.ImagenFuente</p>
                    </div>
                }
                </div>
        </section>
        <!-------------------- BLOCK HEADER-NOTAS ----------------------->
        <!-------------------- BLOCK INFO-NOTAS ----------------------->
        <section class="contenedor-info-notas">
            <div class="content-info-notas blockv3-container">
                <div class="contenedor-rrss-body">
                    <div class="contenedor-rrss-noticia">
                        <ul>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri" class="share-red">
                                    <img src="@strUrl/img/plantilla-notas-noticias/rrss/icon-rrss-face.png" alt="Compartir en Facebook">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://api.whatsapp.com/send?text=@HttpContext.Current.Request.Url.AbsoluteUri" class="share-red">
                                    <img src="@strUrl/img/plantilla-notas-noticias/rrss/icon-rrss-wtsp.png" alt="Compartir en Whatsapp">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/share?url=@HttpContext.Current.Request.Url.AbsoluteUri" class="share-red">
                                    <img src="@strUrl/img/plantilla-notas-noticias/rrss/icon-rrss-twitter.png" alt="Compartir en Twitter">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=@HttpContext.Current.Request.Url.AbsoluteUri" class="share-red">
                                    <img src="@strUrl/img/plantilla-notas-noticias/rrss/icon-rrss-linkedin.png" alt="Compartir en linkedin">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:getlink();" class="getlink share-red">
                                    <img src="@strUrl/img/plantilla-notas-noticias/rrss/icon-to-share.png" alt="Compartir el link">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="contenedor-body-noticia">
                        <div class="box-body-noticia">
                            @Html.Raw(Model.Detalle)
                        </div>
                        @if (!string.IsNullOrEmpty(Model.DescubreNombre) && !string.IsNullOrEmpty(Model.DescubreImagen))
                        {
                            <div class="contenedor-descubre-mas">
                                <div class="box-banner-descubre">
                                    <img src="@strUrl/archivos/publicacion/@Model.DescubreImagen" alt="">
                                </div>
                                <a href="@Model.DescubreLink" class="box-link-descubre">
                                    <p>@Resource.descubre_mas</p>
                                    <h4>@Model.DescubreNombre</h4>
                                </a>
                            </div>}
                    </div>
                </div>
            </div>
        </section>
        <!-------------------- BLOCK INFO-NOTAS ----------------------->
        <!-------------------- BLOCK ICONS-DECORATOR ----------------------->
        <section class="contenedor-icons-decorator">
            <div class="icons-decorator blockv3-container">
                <div class="box-icons icons-21">
                    
                    <img src="@strUrl/img/home/icons/iconos-1024.png" style="width:100%" alt="">


    @*<img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-6.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-7.png" alt="">

                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-8.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">

                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-6.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-7.png" alt="">

                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-8.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">*@
                </div>

                <div class="box-icons icons-10">
                   
                    <img src="@strUrl/img/home/icons/iconos-768.png" style="width:100%" alt="">

    @* <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-3.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-4.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-5.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-6.png" alt="">
                    <img src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-7.png" alt="">

                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-8.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-1.png" alt="">
                    <img class="icon-2do" src="@strUrl/img/plantilla-categoria/icons-decorator/icon-decorator-2.png" alt="">*@
                </div>
            </div>
        </section>
        <!-------------------- /BLOCK ICONS-DECORATOR ----------------------->
        <!-------------------- BLOCK CARDS-INTERESAR ----------------------->
        @{ Html.RenderAction("Relacionados", "Home", new { subcategoria = Model.SubcategoriaId, tipo = Model.TipoId }); }
        <!-------------------- /BLOCK CARDS-INTERESAR ----------------------->
        <!-------------------- BLOCK CARDS-MAS-RECIENTE ----------------------->
        @{ Html.RenderAction("Relacionados", "Home", new { tipo = Model.TipoId }); }
        <!-------------------- /BLOCK CARDS-MAS-RECIENTE ----------------------->
    </main>


    <!-------------------- BLOCK FOOTER ----------------------->
    @{ Html.RenderAction("PageMenu", "Home", new { footer = true }); }
    <!-------------------- /BLOCK FOOTER ----------------------->
    <script>
        let baseDomain = '@strUrl';
    </script>
    <script src="@strUrl/js/jquery.min.js"></script>
    <script src="@strUrl/js/peru-info.components.js"></script>
    <script src="@strUrl/js/plantilla-notas-noticias.js"></script>
    <script>
    let culture = "@culture";
    let idioma = @idioma;


    function getlink() {
        var aux = document.createElement('input');
        aux.setAttribute('value', window.location.href);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand('copy');
        document.body.removeChild(aux);
        alert('Enlace copiado!');
    }
    </script>
    @{ string tipoPublicacion = Model.TipoId == 1 ? "BlogPosting" : "NewsArticle";}
<script type="application/ld+json">
    {
       "@@context": "https://schema.org",
       "@@type": "@tipoPublicacion",
       "url": "@absoluteUrl",
       "publisher":{
          "@@type":"Organization",
          "name":"Perú Info",
          "logo":"@strUrl/img/home/header/logo-peru-gris.svg"
       },
       "headline": "@Html.Raw(Model.TituloSeo)",
       "mainEntityOfPage": "@absoluteUrl",
       "description": "@Html.Raw(Model.DescripcionSeo)",
       "image":[
          "@Html.Raw($"{strUrl}/archivos/publicacion/{Model.Imagen3}")"
       ],
        "datePublished": "@Model.FechaPublicacion.ToString("yyyy-MM-ddTHH:mm:sszzz")",
        "dateModified": "@(Model.FechaModificacion.HasValue ? Model.FechaModificacion.Value.ToString("yyyy-MM-ddTHH:mm:sszzz") : "")"
    }
</script>


    <script src="@strUrl/js/search.js"></script>
</body>
</html>